
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}

*{
	font-family: 'Muli', sans-serif;
}

.navbar{

background:#9270fe;
}

img{

	width:100%;
}
p.presentation {

    color: #9270fe;
}

p.my{
   
   color: #9270fe;
   text-align:justify;
}

.tangs{

	background-color:#9270fe;
	border-radius:10% 10% 10%;
	width:20%;
	color:white;
	text-align:center;
}
li{
	list-style:none;
}

/*network social*/
.footer-social-icons {
    width: 190px;
    /*display:block;*/
    margin: 0 auto;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color:white;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: darkblue;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:skyblue;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:blue;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa fa-github{

padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:blue;	
}
