<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#999999" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
   <script data-require="angular.js@1.3.8" data-semver="1.3.8" src="https://code.angularjs.org/1.3.8/angular.js"></script>
    <script data-require="angular-translate@*" data-semver="2.5.0" src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.5.0/angular-translate.js"></script>
    <script src="js/languagues.js"></script>
    <title>Gilbert Quintero Dev</title>
  </head>
  <body ng-controller="translateController">
 <section>
   <nav class="navbar navbar-expand-lg navbar-light">
  <a style="color:#FFFFFF;" class="navbar-brand" href="#">Gilbert</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul  class="navbar-nav mr-auto">
      <li class="nav-item">
        <a style="color:#FFFFFF;" class="nav-link" href="contact.html">

      {{'contact'  |  translate}}
        </a>
      </li>
      <li class="nav-item dropdown">
        <a style="color:#FFFFFF;"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{'more'  |  translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a target="_blank"  class="dropdown-item" href="https://github.com/gilbertoquinteroA/">Github</a>
          <a target="_blank" class="dropdown-item" href="https://codepen.io/gilbertoquinteroA/">codepen</a>

        </div>
      </li>
      <li class="nav-item">
        <a style="color:#FFFFFF;" class="nav-link" ng-click="changeLanguage('sp')" href="#">{{'spanish'  |  translate}}</a>
        <li class="nav-item">
        <a style="color:#FFFFFF;" class="nav-link" ng-click="changeLanguage('en')" href="#">{{'english'  |  translate}}</a>
      </li>
      </li>
    </ul>
  </div>
</nav>
 </section>

 <section>
 <br>
     

        <div class="container">
        <h1 class="text-center">{{'presentation' | translate}}</h1>
        <p class="text-center presentation">{{'introduction' | translate }}</p>
  
      <img width="200"  height="310" class="card-img-top" src="http://mattfarley.ca/img/mf-avatar.svg" alt="me">
      <br>
      <br>
      <br>
      <br>
    <img src="http://mattfarley.ca/img/hero.png">
     <br>
      <br>
      <br>
    <h2 class="text-center">{{ 'title_about'| translate }}</h2>
    <p class="my">
    {{'about'  | translate}}
   
   
     </p>

     <hr>
     <p>I like write post in medium too <a href="https://medium.com/@gilbertquintero2018">my porfile is</a> </p>
     
   <a href="https://drive.google.com/file/d/1doMk9vfpg5RRx2kdWxCZOYitmf9tSBS0/view?usp=sharing" download="newname" target="_blank" class="et_pb_button" >Download my CV</a>

    <h2>Skills</h2>

         <ol>HTML5</ol>
         <hr>
           <li>projects created by me in HTML5:</li>
           <ol><a target="_blank" href="https://gilbertoquinteroa.github.io/baby-32/">web site style baby</a></ol>

           <li>some post about HTML5 created by me:</li>
            <a href="https://medium.com/@gilbertoQA/el-doctype-y-su-uso-en-html5-49f8c1ddac4e">el doctype y su uso en  html5</a>
           <hr>            
         <ol>CSS3</ol>
         <li><a href="#">GRID with CSS3 only</a></li> 
         <hr>
         <ol>ES6</ol> 
         <hr>
         <ol>JQuery</ol> 

         <ol>projects created by me in Jquery:</ol>
         <p>this is my first simple plugins with Jquery  I am still working  with it</p>
         <script src="https://gist.github.com/gilbertoquinteroA/b9f6efac9fa39b98377e7bf4ecc4d1d2.js"></script>

         <ol>some post about Jquery created by me:</ol>
          <a href="https://medium.com/@gilbertoQA/how-working-with-hadling-events-in-jquery-1eaaee7e3c2d">how working with hadling events in jquery</a>

 <hr>
         <ol>React JS</ol> 
         <hr>
         <ol>Node JS</ol> 
         <hr>
         <ol>APIs</ol> 

         <hr>
         <h3>I am familar with:</h3> 
         <hr>
         <ol>Terminal Linux</ol>
         <ol>projects created by me in BASH/SHELL:</ol>
         <hr>
         <ol>Docker</ol>
         <ol>some post about Docker created by me:</ol>
         <hr>
          <ol>AWS services amazon</ol>
          <ol>some post about AWS services amazo created by me:</ol>
         </section>
<hr>
<section>






 <footer class="footer">
      <div class="container">
        <div class="footer-social-icons">
    <h4 class="text-center">{{ 'networksocial'| translate }} </h4>
    <ul class="social-icons">
        <li><a target="_blank" href="https://www.facebook.com/simonsayhello" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/GilbertQAC" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="https://linkedin.com/in/gilberto-quintero/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
 <br>
        <span class="text-center">Gilbert Quintero</span>
    </ul>

</div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
